.input-group.md-form.form-sm.form-1 input{
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
*{
    background-color: rgb(231, 235, 240)!important;
}
.header{
    z-index:2;
 background-color: rgb(245, 247, 248)!important;
    width:100%;
    height:80px;
    margin-bottom:50px;
}
.logo{
    margin-left:100px;   
    width:5%;
}
.e{
    color:white;
    background-color:rgb(94, 192, 221)!important;
}
.f{
    background-color:rgb(69, 69, 95)!important;
    color:white!important;
}
.categories .container .row .names{
    font-family: 'Philosopher', sans-serif!important;

    padding:10px 10px;
    color:white;
    width:200px;
    border-radius: 15px;
    text-shadow:none;
    font-size:25px;
}
.card{
    height:350px!important;
    margin-bottom:10px!important;
    margin-left:-45px!important;
        width:100%!important;
}
.col-sm{
    margin:0px 3px!important;

}
.card img{
    height:180px!important;
}
.card-body b{
margin-bottom:20px!important;
color:rgb(243, 238, 236);
    background-color:brown!important;
}
.card-body a{
color:white;background-color:black!important;
}
.card-body{
    background-color:brown!important;
}
i{
    background-color:brown!important;
}
.col-sm{
    padding-left:10px;
    padding-right:10px;
}
.btn{
   bottom:-10px!important;
}


